
.wrapper {
  width: 800px
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}
.lebenslauf {
  letter-spacing: 1px;
}
.header {
  margin-bottom: 100px;
  background: #EFF1F3;
  text-align: center;
  color: #FC814A;

}
.list-one {
  display:inline-block;


}
.list-two {
  display: inline-block;
}
.list-three {
  display: inline-block;
}
.list-four {
  display: inline-block;
}
.list-five {
  display: inline-block;
}
h3 {
  font-family: Arial;
  color: #96939B;

}

.specht {
  width: 10%;
  height: 10%;
;
}

.kontaktallgemein {
  display: inline-block;
  margin-left: 360px;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  border-color: #FC814A;

}
.allgemein {
  display: inline-block;
}
.kontaktdaten {
  display: inline-block;
  margin-left: 30px;
}
.lists {
  margin-left: 360px;
}
